* {
	font-family: "Roboto", sans-serif;
/*  font-family: "Source Sans Pro", sans-serif;
*/
}


body { 
/*background: url(img/a.jpg) no-repeat center center fixed; */

/*morning*/ 
/*background-image: linear-gradient(to top, #7FABC7, #C3CA8E);*/

/*DAY*/ 
/*background-image: linear-gradient(to right, #4D70E7, #7AAAF1);*/

/*EVENING	*/
/*background-image: linear-gradient(#474898, #8B69A1);
*/
/*background: skyblue;
*/

/*background-color: #222222; 
*/  
background-color: #dae8de;
    transition: background  1s;

}


.moduls {
    width: 280px;
    max-height: 200px;
    height: 200px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    border: none;
    color: #FFFF;
    background-color: #22dfe6;
    transition: background  0.5s;

}


#butts {
    display: inline;
}
/*Main Weather Data*/


.glow-on-hover {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 20px;
    opacity: 0.6;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:hover{
	opacity: 0.9;
}



#input_ {
	display: block;
	border: none;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	outline: none;
	width: 99.5%;
	font-size: 30px;
	text-align: center;
	color: white;
	font-family: monospace;

}




.moduls { 
display: inline-block; 
margin:15px;
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 25px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  float: right;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}
.dropbtn {
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}